<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Your picture has been sent!</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="/css/minstyle.io.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body class="bg-index">
	<div class="container" style="margin-top: 20px">
		<div class="col-s-11 col-s-center">

			<div class="row">
				<div id="upload">

					<div class="ms-card">
						<div class="ms-pic" style="text-align: center; margin-top: 30px;"> 
							<i class="fas fa-smile-beam ms-text-size-5" style="color: #47382d;"></i>
						</div>

						<div class="ms-title ms-center">
							<h5>Your picture has been sent!</h5>
						</div>

						<div class="ms-text ms-text-gray-font ms-center">
							<p>
								<a href="/" class="ms-btn ms-large" style="background-color: #b96226; color:#fff;">Send another photo</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>